@use '../base/colors' as *;

body {
	background-color: $bg-color;
}

// COMMON

.section-padding {
	padding: 1em 1.5em;
}

.resume__skills.section-padding,
.resume__interests.section-padding {
	padding: 0 1.5em;
}

.section-title {
	text-align: left;
	font-size: 1.5em;
	color: $main-color;
	text-transform: uppercase;
}

// RESUME

.resume {
	background-color: $light-color;
	overflow: hidden;
	font-size: 1.4rem;

	// HEADER

	&__header {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 3em;
		text-align: center;
		background-color: $main-color;

		&-buttons {
			position: absolute;
			bottom: -0.4em;
			display: flex;

			button {
				margin: 0 0.5em;
				padding: 0.2em;
				border: none;
				border-radius: 8px;
				background: none;
				font-size: 1.7em;
				color: $light-color;
				cursor: pointer;
				transition: background-color .3s;

				i {
					transition: color .3s;
				}
			}

			button:hover {
				background-color: $light-color;

				i {
					color: $main-color;
				}
			}
		}

		&-img {
			width: 100%;
			max-width: 15rem;
			border-radius: 50%;
		}

		&-text {
			color: $light-color;

			h1 {
				padding: 0.5em 0;
				font-size: 2.5rem;
			}

			&-contact {
				p {
					margin: 0.5rem 0;
					font-size: 1.5rem;
				}

				i {
					margin-right: 0.5em;
				}
			}
		}
	}

	// EXPERIENCE

	&__experience {
		&-box {
			margin: 1em 0;

			ul {
				padding: 0 1.1em;
				li {
					margin: 0.5em 0;
				}
			}
		}

		&-company {
			font-weight: bold;

			i {
				margin-right: 1em;
			}
		}

		&-date {
			margin: 0.5em 0;
		}
	}

	// SKILLS

	&__skills {
		&-list {
			list-style-type: none;
			padding: 0;
		}
		&-box {
			padding: 1em 0;

			&-title {
				display: flex;
				align-items: center;
			}

			h4 {
				margin-left: 0.2em;
			}
		}
	}

	// EDUCATION

	&__education {
		&-box {
			padding: 0.7em 0;
		}

		&-school {
			font-weight: bold;
		}

		i {
			margin-right: 1em;
		}

		&-date {
			margin: 0.5em 0;
		}
	}

	// INTERESTS

	&__interests {
		&-box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin: 1em 0;
			text-align: center;

			img {
				height: 40px;
			}
		}
	}
}
