@use '../base/colors' as *;

body {
	background-color: $bg-color;
}

// COMMON

.section-padding {
	padding: 3em 1.5em;
}

.resume__education.section-padding,
.resume__interests.section-padding {
	padding: 0 1.5em;
}

.section-title {
	text-align: left;
	font-size: 1.5em;
	color: $main-color;
	text-transform: uppercase;
}

// RESUME

.resume {
	background-color: $light-color;
	overflow: hidden;
    font-size: 1.4rem;

	// HEADER

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		background-color: $main-color;

		&-img {
			width: 100%;
			max-width: 15rem;
			border-radius: 50%;
		}

		&-text {
			color: $light-color;

			h1 {
				padding: 0.5em 0;
				font-size: 2.5rem;
			}

			&-contact {
				p {
					margin: 0.5rem 0;
					font-size: 1.5rem;
				}

				i {
					margin-right: 0.5em;
				}
			}
		}
	}

	// EXPERIENCE

	&__experience {
		&-box {
			margin: 1em 0;
		}

		&-company {
			font-weight: bold;

			i {
				margin-right: 1em;
			}
		}

		&-date {
			margin: 0.5em 0;
		}
	}

	// EDUCATION

	&__education {
		&-box {
			padding: 0.7em 0;
		}

		&-school {
			font-weight: bold;
		}

		i {
			margin-right: 1em;
		}

		&-date {
			margin: 0.5em 0;
		}
	}

	// SKILLS

	&__skills {
		&-box {
			padding: 1em 0;

			&-title {
				display: flex;
				align-items: center;
			}

			h4 {
				margin-left: 0.2em;
			}
		}
	}

	&__interests {
		&-box {
			display: flex;
			justify-content: center;
			align-items: center;
            flex-direction: column;
            margin: 1em 0;

            img {
                height: 40px;
            }
		}
	}
}
