@media print {
	.resume {
		.section-title {
			color: #000;
		}
		&__header {
			&-text {
				color: #000;
			}

			&-buttons {
				display: none;
			}
		}

		&__education,
		&__interests {
			page-break-inside: avoid;
		}
	}
}
